.pageError {
  padding-top: 9.06rem;
  text-align: center;
  margin: 0 auto;

  img {
    width: 7.56rem;
    margin: 0 auto;
  }

  .text {
    margin: 3.9rem 0 2.7rem 0;

    h2 {
      font-size: 1.75rem;
    }

    p {
      font-size: 0.875rem;
    }
  }
}
