.layout {
  display: grid;
  grid-template-columns: 255px calc(100% - 255px);
  min-height: 100vh;

  .content {
    margin: 16px;
    padding: 16px;
    min-height: 90vh;
    background: #FFF;
    border-radius: 10px;
  }

  .header {
    margin: 0 16px 16px 0;
    padding: 19px 24px;
    background: #fff;
  }

  .sidebar {
    background: #262626;
    color: #7F92A0;
    padding: 16px;

    .list {

      .listIcon {
        min-width: 37px;

        svg, i {
          color: #7F92A0;
        }
      }
    }

    .logo {
      margin-top: 16px;
      margin-bottom: 32px;
      display: flex;
      gap: 9px;
      align-items: center;
      color: #fff;

      h3 {
        font-size: 18px;
      }

      img {
        width: 21px;
        height: 24px;
      }
    }
  }
}

.collapseLink {
  padding: 8px 16px;
  cursor: pointer;
}

.link {
  cursor: pointer;
  span, svg {
    color: #7F92A0 !important;
  }
}

.active {
  span {
    color: #fff !important;
    position: relative;

    &:before {
      contain: "";
      position: absolute;
      width: 2px;
      height: 100%;
      color: #fff;
    }
  }
}