//.table {
//  max-width: 76vw;
//  height: 100%;
//  overflow: scroll;
//
//  &::-webkit-scrollbar {
//    width: 0;
//  }
//}


$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;


.table {
  width: 100%;
  border: 1px solid $color-form-highlight;
}

.tableHeader {
  display: flex;
  width: 100%;
  background: #FBFBFD;
  padding: ($half-spacing-unit * 1.5) 0;
  color: #262626 !important;
}

.tableRow {
  display: flex;
  border-bottom: 1px solid #EFEFF4;
  width: 100%;
  padding: ($half-spacing-unit * 1.5) 0;
}

.tableData, .headerItem {
  flex: 1 1 20%;
  text-align: center;
}

.filterLink {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: $base-spacing-unit;
  padding-right: $base-spacing-unit;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;


  &.desc::after {
    content: '(desc)';
  }

  &.asc::after {
    content: '(asc)';
  }
}

.tableData {
  position: relative;
  i {
    cursor: pointer;
  }
}
.actions {
  display: none;
  button {
    border: none;
    padding: 10px 20px;
    color: #1DA1F2;
  }
}
.activeActions {
  display: block !important;
  position: absolute;
  left: 10%;
  top: -40%;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
}