$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;


.table {
  width: 100%;
  border: 1px solid $color-form-highlight;
}

.tableHeader {
  display: grid;
  grid-template-columns: 200px 6fr 1fr 2fr 1fr;

  width: 100%;
  background: #FBFBFD;
  padding: ($half-spacing-unit * 1.5) 0;
  color: #262626 !important;
}

.tableRow {
  display: grid;
  grid-template-columns: 200px 6fr 1fr 2fr 1fr;
  border-bottom: 1px solid #EFEFF4;
  width: 100%;
  padding: ($half-spacing-unit * 1.5) 0;
}

.tableData, .headerItem {
  text-align: center;

  &:nth-child(2){
    text-align: left !important;
  }
}
.tableData {
  &:nth-child(2){
    padding-left: 25px;
  }
}

.filterLink {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: $base-spacing-unit;
  padding-right: $base-spacing-unit;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;


  &.desc::after {
    content: '(desc)';
  }

  &.asc::after {
    content: '(asc)';
  }
}

.tableData {
  position: relative;
  i {
    padding: 2px 10px;
    cursor: pointer;
  }
}
.actions {
  display: none;
  cursor: pointer;
  button {
    border: none;
    padding: 10px 20px;
    color: #1DA1F2;
  }
}
.activeActions {
  display: block !important;
  position: absolute;
  left: 10%;
  top: -40%;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
}


.search {
  background: #FBFBFD;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: var(--grey);
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    cursor: pointer;
    padding: 10px 10px 10px;
    border: 1px solid #F2F2F2;
    i {
      margin-left: 100px;
    }
  }
}
.input {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 20px;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  flex-direction: inherit !important;
  padding: 0 20px 0 10px;
  background: #fff;

  i {
    cursor: pointer;
    padding: 5px;
  }
  input {
    border: none;
    background: #fff !important;

  }
}