:root {
  --linear-gradient: linear-gradient(180deg, #1DA1F2 0%, #003CC5 100%);
  --linear-gradient-hover: linear-gradient(180deg, #157cb8 0%, #002e9e 100%);
  --blue: #1DA1F2;
  --grey: #7F92A0;
  --red: #FF5A5F;
}

html[data-theme="light"] {
}
